<div class="section">
	<div class="row">
	    <div class="col s12">
	    	<h4 class="center-align"><b>{{today}}</b></h4>
		</div>
	</div>
	<div class="row">
		<div>
		    <div class="col s2 offset-s1 center-align">
		    	<label><b>Calories: </b><p>{{diaryByDate[0].totalCalories}}</p></label>
		    </div>
		    <div class="col s2 center-align">
		    	<label><b>Fat: </b><p>{{diaryByDate[0].totalFat}}</p></label>
		    </div>
		    <div class="col s2 center-align">
		    	<label><b>Protein: </b><p>{{diaryByDate[0].totalProtein}}</p></label>
		    </div>
		    <div class="col s2 center-align">
		    	<label><b>Sodium: </b><p>{{diaryByDate[0].totalSodium}}</p></label>
		    </div>
		    <div class="col s2 center-align">
		    	<label><b>Sugars: </b><p>{{diaryByDate[0].totalSugars}}</p></label>
		    </div>
	    </div>
	</div>
</div>

<div class="divider"></div>

<div class="section">
	<div ng-repeat="diary in diaries">	
		<div class="row">
			<h5 class="center-align">{{diary.category}}</h5>
		</div>
		<div class="row">
			<h6 class="center-align">{{diary.ingredients}}</h6>
		</div>
		<div class="row center-align">
			<ul>
				<li><label><b>Calories: </b><p>{{diary.totalCalories}}</p></label></li>
				<li><label><b>Fat: </b><p>{{diary.totalFat}}</p></label></li>
				<li><label><b>Protein: </b><p>{{diary.totalProtein}}</p></label></li>
				<li><label><b>Sodium: </b><p>{{diary.totalSodium}}</p></label></li>
				<li><label><b>Sugars: </b><p>{{diary.totalSugars}}</p></label></li>
			</ul>
		</div>
	</div>
</div>