  <nav ng-controller="NavCtrl">
    <div class="nav-wrapper">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a href="#!" class="brand-logo">Camp Hope</a>
      <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="false"><i class="material-icons">menu</i></a>
      <!-- normal navigation -->
      <ul id="nav-mobile" class="right hide-on-med-and-down" ng-repeat="thingy in navItems" ng-show="user">
          <li><a href="{{thingy.url}}">{{thingy.name}}</a></li>
      </ul>
      <!-- Side navigation  -->
      <ul class="side-nav" id="nav-mobile" ng-repeat="thingy in navItems" ng-show="user">
        <li><a href="{{thingy.url}}">{{thingy.name}}</a></li>
      </ul>
    </div>
  </nav>
