<div class="section">
	<div class="row">
	    <div class="col s12">
	    	<h4 class="col s6 red-text right-align">{{activeMenu}}</h4>

	    	<div class="col s1">
	    		<!-- Modal Trigger -->
	    		<button class="btn-floating btn-large waves-effect waves-light red" data-target="modal1"><i class="material-icons">mode_edit</i></button>
	    	</div>
	    </div>
	</div>
</div>

<div class="divider"></div>

<div class="section">
	<div class="row">
	    <div class="col s9 offset-s3">
	        <div class="input-field col s6 center-align center">
	            <input type="search" class="form-control" ng-model="searchNutrix" ng-keyup="$event.keyCode === 13 && NutrixSearch()">
	            <!-- <label>Search for Ingredients</label> -->
	        </div>
	            <button type="button" class="waves-effect waves-light btn col s2" ng-click="NutrixSearch()" id="searchBtn"><i class="small material-icons">search</i></button> 
	    </div>
	</div>
	<div class="row">
		<div ng-repeat="result in alterResults track by $index">
			<div class="card small col s3 offset-s1">
				<span>
					<div class="center-align">
						<img class="responsive-img" src={{result.image}} >
					</div>
					<!-- <div class="row"> -->
						<div class="col s12">
					        <div class="card-content">
					          	<span class="card-title flow-text grey-text text-darken-4 truncate">{{result.fields.item_name}}</span>
					        </div>
				        </div>
				</span>
		        <!-- </div> -->
		        <div class="row">
		        </div>
		        <div class="row">
		          	<div class="card-action">
		          		<div class="col s1 pull-11">
		          			<a class="btn-floating btn-small waves-effect waves-light red left" ng-click="constructFoods(result.fields.item_name,result.fields.nf_calories,result.fields.nf_total_fat, result.fields.nf_protein,result.fields.nf_sodium,result.fields.nf_sugars)"><i class="material-icons">add</i></a>
		          		</div>
		          		<i class="material-icons  activator right">more_vert</i>
		          	</div>
		        </div>
		        <div class="card-reveal">
		  			<span class="card-title grey-text text-darken-4" id="cardTest" ng-click="reEnable()">{{result.fields.item_name}}<i class="material-icons right" >close</i></span>
		  			<ul class="collection">
				      <li class="collection-item"><label><b>Calories:</b> </label>{{result.fields.nf_calories}}</li>
				      <li class="collection-item"><label><b>Fat:</b> </label>{{result.fields.nf_total_fat}}</li>
				      <li class="collection-item"><label><b>Sodium:</b> </label>{{result.fields.nf_sodium}}</li>
				      <li class="collection-item"><label><b>Sugar:</b> </label>{{result.fields.nf_sugars}}</li>
				      <li class="collection-item"><label><b>Protein:</b> </label>{{result.fields.nf_protein}}</li>
				    </ul>
				</div>
			</div>
		</div>
    </div>




  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Meal: </h4>
      <div class="collection" ng-repeat="item in menuItems">
        	<a href="#/search" class="collection-item" ng-click="setActive(item)" ng-class="{active : activeMenu === item}"> {{ item }}</a>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>
