<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchNutrix">
            <span class="input-group-btn">
                <button class="btn btn-default fa fa-search" ng-click="NutrixSearch()" id="searchBtn"></button>
            </span>
        </div>
    </div>
</div>
<div class="row" id="nutrixReturn">
<!--3 cards per row results-->
  <div class="card"><!--will contain search results in individual cards--></div>
</div>