"use strict";

app.constant("FIREBASE_CONFIG", {
	apiKey: "",
    authDomain: "",
    databaseURL: "",
    storageBucket: "",
    messagingSenderId: ""
});

app.constant("NUTRITIONIXAPIKEY", {
	appId: "",
	appKey:""
});